env/

*.pyc

*/migrations/*.py
!*/migrations/__init__.py
*/migrations/*.pyc
*/migrations/__pycache__/

node_modules
dating/users/migrations/*
dating/dating/migrations/*
dist/bundle.js
dist/bundle.js.LICENSE.txt

static/
media/

/data/

