/* ImageUpload.css */

.cropper-container {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    margin: auto;
}

.cropper-croparea {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* border: 1px dashed #fff; */
    background-color: rgba(0, 0, 0, 0.5);
    cursor: move;
}

.cropper-buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.crop-save-button,
.crop-discard-button {
    padding: 8px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}