.custom-upload-list .ant-upload,
.custom-upload-list .ant-upload-list-item-container {
    width: 185px !important;
    /* Increase width */
    height: 235px !important;
    /* Increase height */
}

/* .custom-upload-list .ant-upload-list-item {
    padding: 0px !important;
    border-radius: 8px !important;
    overflow: hidden !important;
} */




/* Hide the card body */
.picture-card .ant-card-body {
    display: none !important;
}

.is-dragging div {
    pointer-events: none !important;
}

.custom-upload-list.hide .ant-upload-select {
    display: none !important;
}

.ant-upload-list.ant-upload-list-picture-card {
    display: flex;
    justify-content: space-evenly;
    /* Align items horizontally in the center */
    flex-wrap: wrap;
    /* Allow items to wrap onto multiple lines */
    gap: 8px;
    /* Optional: Adjust the gap between items */
}


.ant-upload-list::before {
    padding: 0px !important;
    height: 0px !important;
    display: none !important;
}