html,
body {
    margin: 0;
    padding: 0;
}

.ant-layout {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}

.ant-layout-content {
    padding: 0;
}


.site-layout-content {
    padding: 24px;
    background: #fff;
    min-height: 280px;
    /* Adjust as needed */
}